<div class="container-fluid px-0">
  <!-- <div class="row h-100 w-100">
    <div class="col-2">
      <mat-sidenav-container class="sidenav-container bg-light-blue h-100">
        <mat-sidenav-content>
          <mat-list role="list" class="text-primary">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
          </mat-list>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
    <div class="col-10"> -->
  <div class="container py-5">
    <h2 class="fw-semibold text-center mb-5">Expense Tracker Application</h2>
    <router-outlet />
  </div>
  <!-- </div>
  </div> -->
</div>
